---
import Layout from '../layouts/Layout.astro';
---

<Layout title="AC Arquitectura- Aviso Legal">
  <main class="pt-20">
    <div class="container mx-auto px-4 py-12">
      <div class="max-w-4xl mx-auto">
        <h1 class="text-4xl font-bold text-primary mb-8">Aviso Legal</h1>
        
        <div class="prose max-w-none">
          <h2>1. Datos de la empresa</h2>
          <p>Ac Arquitectura Y Construccion Sas<br>
          NIT: 901508672<br>
          Dirección: [Dirección en Colombia]<br>
          Email: contacto@remodelpro.com<br>
          Teléfono: [Número colombiano]</p>
          <br>
          <h2>2. Objeto</h2>
          <p>Este aviso legal regula el acceso, navegación y uso del sitio web www.remodelpro.com, propiedad de AC ArquitecturaS.A.S.  </p>
          <br>
          <h2>3. Legislación aplicable</h2>
          <p>El uso de este sitio web y los servicios ofrecidos en el mismo están regidos por la legislación colombiana, en particular la Ley 1581 de 2012 de Protección de Datos Personales, el Decreto 1377 de 2013 y las disposiciones aplicables del Código de Comercio.</p>
          <br>
          <h2>4. Condiciones de uso</h2>
          <p>El usuario se compromete a utilizar el sitio web de manera responsable y de acuerdo con las leyes colombianas. AC ArquitecturaS.A.S. no será responsable de daños derivados del uso incorrecto del sitio.</p>
          <br>
          <h2>5. Propiedad intelectual </h2>
          <p>Todo el contenido del sitio web, incluyendo textos, imágenes, logotipos y gráficos, es propiedad de AC ArquitecturaS.A.S. y está protegido por las leyes de propiedad intelectual. Está prohibido su uso sin autorización previa y escrita de la empresa.</p>
          <br>
          <h2>6. Contacto</h2>
          <p>Para cualquier consulta, Reclamo o sugerencia relacionada con este sitio web, puede escribir a: contacto@remodelpro.com.</p>
          <br>
          <!-- Añadir más secciones según sea necesario -->
        </div>
      </div>
    </div>
  </main>
</Layout>