---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Features from '../components/Features.astro';
import Portfolio from '../components/Portfolio.astro';
import Testimonials from '../components/Testimonials.astro';
import CTA from '../components/CTA.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';

const title = "AC Arquitectura - Servicios Profesionales de Remodelaci칩n en Cali";
const description = "Dise침amos tus espacios, construimos tus sue침os. Servicios profesionales de remodelaci칩n de casas, apartamentos y espacios comerciales en Cali, Colombia.";
const url = "https://www.acarquitectura.com.co";
const image = "https://opengraph.b-cdn.net/production/images/e0540ec3-9987-4226-b126-db660c9c66b7.svg?token=V8LpduB_Z3vP5T3yB26RGfZoguaeB_hkrPJ_Qc8xqrw&height=130&width=300&expires=33275810993";
---

<Layout title={title} description={description} url={url} image={image}>
  <main>
    <Hero />
    <Features />
    <Services />
    <Testimonials />
    <!-- <Portfolio /> -->
    <CTA />
    <WhatsAppButton />
  </main>
</Layout>