---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Features from '../components/Features.astro';
import Portfolio from '../components/Portfolio.astro';
import Testimonials from '../components/Testimonials.astro';
import CTA from '../components/CTA.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';

---

<Layout title="AC Arquitectura- Servicios Profesionales de Remodelación">
  <main>
    <Hero />
    <Features />
    <Services />
    <Testimonials />
    <!-- <Portfolio /> -->
    <CTA/>
    <WhatsAppButton />
  </main>
</Layout>
