---
import { onMount } from "solid-js";

const services = [
  {
    title: 'Servicio Básico',
    features: [
      'Servicio de mejoras',
      'Mesón en cuarzo o granito',
      'Muebles y barra de cocina en madera RH',
      'Cambio de combo sanitario',
      'Griferías y accesorios básicos',
      'Pisos en cerámica',
      'Paredes de baño y cocina en cerámica',
      'Paredes en estuco y pintura',
      'Cielos estucados y pintados',
    ],
    description: 'Perfecto para actualizaciones básicas generales del hogar y pequeñas mejoras.',
    slug: 'servicio-basico'
  },
  {
    title: 'Servicio Plus',
    features: [
      'Servicio de mejoras',
      'Mesón en cuarzo o granito',
      'Muebles y barra de cocina en madera RH colores plus',
      'Cambio de combo sanitario',
      'Griferías y accesorios gama media',
      'Pisos en cerámica, laminado o porcelanato',
      'Paredes de baño y cocina en cerámica o porcelanato',
      'Paredes en estuco y pintura',
      'Cielos en drywall',
      'Puertas y armarios en madera RH color plus',
    ],
    description: 'Perfecto para actualizaciones con acabados más personalizados del hogar y pequeñas mejoras.',
    slug: 'servicio-plus'
  },
  {
    title: 'Servicio Premium',
    features: [
      'Rediseño completo del espacio',
      'Materiales de alta gama',
      'Diseño de interiores profesional',
      'Renovación a gran escala con materiales de primera calidad y diseño experto',
      'Servicio de mejoras',
      'Mesón en cuarzo o granito',
      'Muebles y barra de cocina en madera RH colores de alta gama',
      'Herrajes de cierre lento y accesorios de alta gama',
      'Cambio de combo sanitario',
      'Griferías y accesorios gama alta',
      'Pisos en cerámica, SPC o porcelanato',
      'Paredes de baño y cocina en cerámica o porcelanato',
      'Paredes en estuco y pintura',
      'Cielos en drywall',
      'Luces decorativas',
      'Puertas y armarios en madera RH colores de alta gama',
    ],
    description: 'Renovación a gran escala con materiales premium y diseño experto.',
    slug: 'servicio-premium'
  },
];

onMount(() => {
  const cards = document.querySelectorAll(".service-card");
  cards.forEach((card) => {
    card.addEventListener("mouseenter", () => {
      card.classList.add("scale-105", "shadow-xl");
    });
    card.addEventListener("mouseleave", () => {
      card.classList.remove("scale-105", "shadow-xl");
    });
  });
});
---

<section id="servicios" class="py-20">
  <div class="container mx-auto px-4 text-center">
    <h2 class="text-4xl font-bold text-gray-800 mb-4">Nuestros Servicios</h2>
    <p class="text-gray-600 max-w-2xl mx-auto mb-16">
      Elige el paquete de remodelación que necesitas
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {services.map((service) => (
        <div class="service-card bg-white p-4 rounded-lg shadow-md transition-transform duration-300">
          <h3 class="text-lg font-semibold text-gray-800 mb-2">{service.title}</h3>
          <p class="text-sm text-gray-600 mb-2">{service.description}</p>
          <ul class="text-left mb-2 text-sm">
            {service.features.map((feature) => (
              <li class="text-xs flex items-center mb-1">
                <svg class="w-3 h-3 text-green-500 mr-1" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" />
                </svg>
                {feature}
              </li>
            ))}
          </ul>
          <div class="flex flex-col md:flex-row gap-2 mt-auto">
            <a 
              href="/contact" 
              class="cta-button flex-1 text-center bg-primary text-white px-6 py-3 rounded-lg transition-colors relative overflow-hidden text-base"
            >
              Iniciemos
              <span class="hover-effect"></span>
              <span class="hover-effect"></span>
              <span class="hover-effect"></span>
              <span class="hover-effect"></span>
            </a>
            
          </div>
          <div>
            <a 
              href={`/services/${service.slug}`} 
              class="learn-more flex-1 text-center bg-secondary hover:bg-secondary/90 text-white px-6 py-3 rounded-lg transition-colors text-base"
            >
              <span class="circle">
                <span class="icon arrow"></span>
              </span>
              <span class="button-text">Leer más</span>
            </a>
          </div>
          </div>
      ))}
    </div>
  </div>
</section>

<style>
.service-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px; /* Ajusta la altura mínima para que todas las tarjetas tengan la misma altura */
}

.service-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 12rem;
  height: 3em; /* Ajusta la altura del botón */
  line-height: 3em; /* Centra verticalmente el texto */
}

.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.5rem;
}

.learn-more .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.learn-more .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: -1rem; /* Mueve la flecha más a la izquierda */
  width: 1rem;
  height: 0.125rem;
  background: none;
}

.learn-more .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.5rem;
  height: 0.5rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5rem 0;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.learn-more:hover .circle {
  width: 100%;
}

.learn-more:hover .icon.arrow {
  background: #fff;
  transform: translate(2rem, 0); /* Mueve la flecha más a la izquierda en el estado hover */
}

.learn-more:hover .button-text {
  color: #fff;
}

.cta-button {
  --c: #1a202c; /* Color primario */
  color: white; /* Cambia el color del texto a blanco */
  font-size: 16px;
  border: none; /* Elimina el borde */
  border-radius: 2em;
  width: 100%;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: inherit; /* Usa la fuente nativa */
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em; /* Centra verticalmente el texto */
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}

.cta-button span.hover-effect {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var (--n) - 1) * 0.1s);
  z-index: -1;
}

.cta-button:hover {
  color: white;
}

.cta-button:hover span.hover-effect {
  transform: translateY(0) scale(2);
}

.cta-button span.hover-effect:nth-child(1) {
  --n: 1;
}

.cta-button span.hover-effect:nth-child(2) {
  --n: 2;
}

.cta-button span.hover-effect:nth-child(3) {
  --n: 3;
}

.cta-button span.hover-effect:nth-child(4) {
  --n: 4;
}
</style>